<script
  src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<!-- https://releases.jquery.com/ 참고-->

<script>
    var flag = false;
    $("html").on("mouseleave", ()=>{ flag = true; });
    $("html").on("mouseenter", ()=>{ flag = false; });
    // 페이지가 변경 될 때 실행되는 이벤트
    // <a>, submit, button, 뒤로가기 등..
    window.onbeforeunload =() =>{
        if(flag){
            //fetch : 특정 경로로 요청시 사용
            fetch("/member/logout");
        }
    }

    window.onload=()=>{
        console.log("cookie 확인");
        console.log(document.cookie);
        console.log(document.cookie.indexOf("isLogin=true"));
        console.log(document.cookie.indexOf("isLogin111=true"));
        // indexOf: 값이 있으면 1 없으면 -1

        let msg = "<a href ='/'>HOME</a>&nbsp"; 
        if(document.cookie.lastIndexOf("isLogin=true")!== -1){
            msg += "<a href='/member/logout'>로그아웃</a>&nbsp";
            msg += "<a href='/member/list'>회원정보</a>";
        }else{
            msg += "<a href='/member/login'>로그인</a>&nbsp";
            msg += "<a href='/member/login'>회원정보</a>";
        }   
        document.querySelector("#nav").innerHTML=msg;
    }
</script>
<!-- javascript에서 쿠키값 가져왔는지를 확인-->

<div id="nav"></div>

<hr>

<a href="/">HOME</a>

<% if( username ){ %>
    <a href="/member/logout">로그아웃</a>
    <a href="/member/list">회원정보</a>
<% }else { %>
    <a href="/member/login">로그인</a>
    <a href="/member/login">회원정보</a>
<% } %>
<hr>